<!DOCTYPE html>
<html>
<head>
	<title>AiryBox</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="keywords" content="Cloud Computing" />
	<meta name="description" content="AiryBox - your private databox.">
	<!--link rel='stylesheet' href='/stylesheets/airyboxtheme.min.css' /-->
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/stylesheets/jquery/mobile/jquery.mobile-1.2.0.css" />
	<!-- Google API --> <!-- it must be at first position -->
	<script src="https://apis.google.com/js/client.js"></script>
	<script src="https://apis.google.com/js/api.js"></script>
	<!--script type="text/javascript" src="https://apis.google.com/js/client.js"></script-->
	<!--script src="https://www.google.com/jsapi"></script-->
	<!-- GDrive -->
	<script type="text/javascript" src="/javascripts/gdrive/gdrive.js"></script>
	<!-- jQuery -->
	<script type="text/javascript" src="/javascripts/jquery/jquery-1.8.3.min.js"></script>
	<!-- jQuery Mobile-->
	<script type="text/javascript" src="/javascripts/jquery/mobile/jquery.mobile-1.2.0.js"></script>
	<!-- jQuery plugins -->
	<script type="text/javascript" src="/javascripts/jquery/plugins/jquery.price_format.1.7.js"></script>
	<!-- Shims -->
	<script type="text/javascript" src="/javascripts/shims/base64.js"></script>
	<script type="text/javascript" src="/javascripts/shims/json2.js"></script>
	<!--AiryBox/OAuth API -->
	<script type="text/javascript" src="/javascripts/oauth/oauth-api.js"></script>
	<!-- Crypto API -->
	<script type="text/javascript" src="/javascripts/crypto/crypto-api.js"></script>
	<script type="text/javascript" src="/javascripts/crypto/jszip.js"></script>
	<script type="text/javascript" src="/javascripts/crypto/jsinflate.js"></script>
	<script type="text/javascript" src="/javascripts/crypto/jsdeflate.js"></script>
	<script type="text/javascript" src="/javascripts/crypto/jsunzip.js"></script>
	<!--script type="text/javascript" src="/javascript/crypto/Iuppiter.js"></script-->
	<!--script type="text/javascript" src="/javascript/crypto/base64.js"></script-->
	<!-- SJCL -->
	<script type="text/javascript" src="/javascripts/sjcl/form.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/sjcl.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/aes.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/bitArray.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/codecString.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/codecHex.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/codecBase64.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/codecBytes.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/sha256.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/ccm.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/ocb2.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/spe.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/hmac.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/pbkdf2.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/random.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/convenience.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/unicodeTables.js"></script>
	<script type="text/javascript" src="/javascripts/sjcl/core/unicodeUtils.js"></script>
	<!-- CLEditor -->
	<link rel="stylesheet" type="text/css" href="/javascripts/cleditor/jquery.cleditor.css" />
	<script type="text/javascript" src="/javascripts/cleditor/jquery.cleditor.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$("#encplaintext").cleditor({ width: 204, height: 200 });
			$("#encciphertext").cleditor({ width: 204, height: 200, controls: "cut copy | source" });

			$(window).keydown(function(event){
				if(event.keyCode == 13) {
					event.preventDefault();
					return false;
				}
			});
		});
	</script>
	<!-- Forms -->
	<script type="text/javascript" src="/javascripts/forms/form2js.js"></script>
	<script type="text/javascript" src="/javascripts/forms/js2form.js"></script>
	<script type="text/javascript" src="/javascripts/forms/account-balance.js"></script>
	<!-- Dummy Form -->
	<form id="dummyForm" runat="server" style="height:100%" >
		<div id="box">
			<div id="open_status">Click to button to open files.</div>
			<input type="file" id="openFile" name="files[]" multiple=""/>
			<div id="dropStatus">Input panel.</div>
			<div id="dropContainer">
				<table id="dropContainerTable" cellpadding="0" cellspacing="0">
					<tr><td id="dropContainerMiddle">
						<div id="dropContainerInner">
							Drop files here
						</div>
					</td></tr>
				</table>
			</div>
			<p></p>
			<div id="outStatus">Download panel.</div>
			<div id="outContainer">
				<table id="outContainerTable" cellpadding="0" cellspacing="0">
					<tr><td id="outContainerMiddle">
						<div id="outContainerInner">
							Files to save
						</div>
					</td></tr>
				</table>
			</div>
			<p>Files are not stored on the server.</p>
			<input type="text" id="iv" name="iv" class="wide hex" size="32" maxlength="35" autocomplete="off"/>
			<textarea id="key" name="key" class="hex" rows="2" autocomplete="off"></textarea>
			<textarea id="adata" autocomplete="off"></textarea>
		</div>
	</form>
</head>
<body>
<div data-role="page" class="type-home" data-theme="c" >
	<div data-role="header" data-position="fixed" data-theme="c">
		<!--img border="0" src="/images/persona-login.png" alt="Persona login" style="float:left;display:inline;"/-->
		<!--h1>@</h1-->
		<div class="ui-title">
			<img border="0" src="/images/logo.png" alt="AiryBox" style="display:inline;"/>
		</div>
		<a href="javascript:void(0);" name= "airyboxAuthButton" id="airyboxAuthButton" data-role="button" class="ui-btn-right" data-icon="custom" rel="external">Authenticate with Google</a>
	</div>
	<!--img src="/images/logo.png" alt="AiryBox" style="margin: 0px auto;" /-->
	<h3>About</h3>
	<p>
		Cloud Computing represents one of the most significant shifts in information technology.
		Customers are both excited and nervous at the prospect of cloud computing.
		They are excited by the opportunities to reduce capital cost, divest infrastructure management and focus on core competencies.
		However customers also are very concerned about security and privacy risks of cloud computing.
	</p>
	<p>
		The new Identity-Based Data Protection model ensures the confidentiality, privacy and integrity of customer data in the public Cloud.
	</p>
	<p>
		<% if (!user) { %>
		<div name="airykeyIdentityDiv" id="airykeyIdentityDiv" style="visibility: hidden; display: none;">
			<input type="text" size="115" name="authDisplayName" id="authDisplayName" readonly="readonly" />
			<input type="text" size="115" name="authPermissionId" id="authPermissionId" readonly="readonly" />
			<input type="text" size="115" name="authIdentity" id="authIdentity" readonly="readonly" />
			<input type="text" size="115" name="otherIdentities" id="otherIdentities" />
		</div>
		<% } else { %>
		<div name="airykeyIdentityDiv" id="airykeyIdentityDiv" style="visibility: hidden; display: none;">
			<input type="text" size="115" name="authDisplayName" id="authDisplayName" readonly="readonly" value="<%= user %>" /> <!-- user.email -->
			<input type="text" size="115" name="authPermissionId" id="authPermissionId" readonly="readonly" />
			<input type="text" size="115" name="authIdentity" id="authIdentity" readonly="readonly" value="<%= user %>" />
			<input type="text" size="115" name="otherIdentities" id="otherIdentities" />
		</div>
		<% } %>
		<p>
			<div name="airykeyAuthDiv" id="airykeyAuthDiv" style="visibility: hidden; display: none;">
				<button type="button" name="airykeyAuthButton" id="airykeyAuthButton">Authorize AiryKey</button>
				(authorizes Identity-Based Security as a Service)
			</div>
		</p>
		<form name="accountBalanceForm" id="accountBalanceForm" style="height:100%">
			<label for="accountBalanceDate"><h3>Account Balance:</h3></label>
			<fieldset data-role="controlgroup" data-type="horizontal">
				<legend>Date</legend>

				<label for="accountBalanceDay">Day</label>
				<select name="accountBalanceDay" id="accountBalanceDay" data-mini="true" disabled>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>

				<label for="accountBalanceMonth">Month</label>
				<select name="accountBalanceMonth" id="accountBalanceMonth" data-mini="true" disabled>
					<option value="jan">Jan</option>
					<option value="feb">Feb</option>
					<option value="mar">Mar</option>
					<option value="apr">Apr</option>
					<option value="may">May</option>
					<option value="jun">Jun</option>
					<option value="jul">Jul</option>
					<option value="aug">Aug</option>
					<option value="sep">Sep</option>
					<option value="oct">Oct</option>
					<option value="nov">Nov</option>
					<option value="dec">Dec</option>
				</select>

				<label for="accountBalanceYear">Year</label>
				<select name="accountBalanceYear" id="accountBalanceYear" data-mini="true" disabled>
					<option value="2012">2012</option>
					<option value="2013">2013</option>
					<option value="2014">2014</option>
					<option value="2015">2015</option>
				</select>
			</fieldset>
			<label for="accountBalanceAmount">Amount</label>
			<input type="text" size="115" name="accountBalanceAmount" id="accountBalanceAmount" disabled />
			<input type="button" name="reloadButton" id="reloadButton" value="Reload" disabled />
			<input type="button" name="saveButton" id="saveButton" value="Save" disabled />
		</form>

		<input type="button" name="shareButton" id="shareButton" value="Share" disabled/>

		<div  style="visibility: hidden; display: none;">
			<p>
				<button type="button" name="encryptAll" id="encryptAll">Encrypt All</button>
				(generates ivs, keys and encrypts all)
			</p>
			<p>
				<button type="button" name="decryptAll" id="decryptAll">Decrypt All</button>
				(decrypts all)
			</p>
			<p>
				<input type="button" name="listButton" id="listButton" value="list" />
				<input type="button" name="createButton" id="createButton" value="create" />
				<input type="button" name="updateButton" id="updateButton" value="update" />
				<!--input type="button" name="copyButton" id="copyButton" value="copy" /-->
				<input type="button" name="returnButton" id="returnButton" value="return" />
				<input type="button" name="getButton" id="getButton" value="get" />
				<input type="button" name="permissionsButton" id="permissionsButton" value="permissions" />
				<input type="button" name="deleteButton" id="deleteButton" value="delete" />
			</p>
			<p>
				<textarea id="plainTextEditor" autocomplete="off"></textarea>
				<textarea id="cipherTextEditor" autocomplete="off"></textarea>
				<textarea name="log" id="log" rows="15" cols="87" spellcheck="false" readonly="readonly" ></textarea>
			</p>
		</div>
	</p>

</div>
</body>
</html>