body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#airyboxAuthButton .ui-icon-custom {
    background: url(/images/sign-in.png) no-repeat;
    background-size: 22px 18px;
    width: 22px;
    height: 18px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-left: 6px;
}

#airyboxAuthButton .ui-btn-text {
    padding-left: 10px;
}

#copyright {
    text-align: center;
    margin-top: .4em;
    margin-bottom: .4em;
}

@media screen and (max-width: 649px){
    .ui-title {
        text-align: left !important;
        margin: .4em 1% .1em !important;
    }
}
